<div class="story -dark  -overlay -background-image relative margin-standard-bottom -column "
style="background-image: url('https://c532f75abb9c1c021b8c-e46e473f8aadb72cf2a8ea564b4e6a76.ssl.cf5.rackcdn.com/2019/04/05/9htn84pwk7_tdzeblogowhite_2_copy.jpg');">

<div class="story__inner">
  <div class="story__inner__content">
    <div class="story__inner__content__accent"></div>
    <div class="flex margin-1-bottom">
      <span class="story__inner__content__label type-caption">News</span>
    </div>
    <h2 class="story__inner__content__headline type-headline">
      <a data-track-gtm="Root - Saving Wildlife and Wild Places|Story|Thriving in Tanzania"
        href="https://www.wcs.org/get-involved/updates/translocated-zebras-are-flourishing">Thriving in
        Tanzania</a>
    </h2>
    <p class="story__inner__content__text margin-1-top">
      The latest from the Southern Highlands, where zebras were reintroduced last October. This is one of 22
      individuals translocated to Kitulo National Park.
    </p>
    <a data-track-gtm="Root - Saving Wildlife and Wild Places|Story|Thriving in Tanzania"
      class="btn fill-callout margin-2-top"
      href="https://www.wcs.org/get-involved/updates/translocated-zebras-are-flourishing">Read More</a>
  </div>
</div>
</div>