<div class="updates-image-list cell pad-1-horizontal pad-2-vertical">
  <div class="updates-image-list__img" aria-hidden="true">
    <a data-track-gtm="Root - Saving Wildlife and Wild Places|News List|Fishery on the Brink" href="https://news.mongabay.com/2019/03/fishery-on-the-brink-the-fight-to-save-the-nassau-grouper/"><img alt="" class="block radius-circle" src="https://c532f75abb9c1c021b8c-e46e473f8aadb72cf2a8ea564b4e6a76.ssl.cf5.rackcdn.com/2019/04/03/79obpqb2hi_1_Nassau_Grouper_ATewfik_.jpg"></a>
  </div>
  <div class="updates-image-list__text pad-2-left">
    <div class="updates-image-list__text__date color-primary margin-1-bottom">
      March 28, 2019
        <span class="pad-1-horizontal"> | </span> <span class="type-emphasized">Mongabay</span>
    </div>
    <h2 class="updates-image-list__text__headline margin-1-bottom">
      <a data-track-gtm="Root - Saving Wildlife and Wild Places|News List|Fishery on the Brink" href="https://news.mongabay.com/2019/03/fishery-on-the-brink-the-fight-to-save-the-nassau-grouper/">Fishery on the Brink</a>
    </h2>
    <p class="updates-image-list__text__description">
      The fight to save the Nassau grouper. By one estimate, its population has dropped 60% since 1980.
    </p>
    <div class="margin-2-top">
      <a data-track-gtm="Root - Saving Wildlife and Wild Places|News List|Fishery on the Brink" class="type-caption color-link" href="https://news.mongabay.com/2019/03/fishery-on-the-brink-the-fight-to-save-the-nassau-grouper/">Read the story</a>
    </div>
  </div>
</div>