<div class="story -light margin-standard-bottom -column ">
  <div class="story__inner">
    <div class="story__inner__content">
      <div class="story__inner__content__accent"></div>
      <div class="flex margin-1-bottom">
        <span class="story__inner__content__label type-caption color-primary">Our Work</span>
      </div>
      <h2 class="story__inner__content__headline type-headline color-headline">
        <a data-track-gtm="Root - Saving Wildlife and Wild Places|Story|Communities"
          href="https://www.wcs.org/our-work/communities">Communities</a>
      </h2>
      <p class="story__inner__content__text margin-1-top">
        We collaborate with Indigenous Peoples and local communities around the world to achieve a shared vision for
        a more secure and resilient future.
      </p>
      <a data-track-gtm="Root - Saving Wildlife and Wild Places|Story|Communities"
        class="btn fill-primary margin-2-top" href="https://www.wcs.org/our-work/communities">Read More</a>
    </div>
    <div class="story__inner__thumbnail margin-3-top">
      <div class="relative">
        <img alt="" class="story__inner__thumbnail__img"
          src="https://c532f75abb9c1c021b8c-e46e473f8aadb72cf2a8ea564b4e6a76.ssl.cf5.rackcdn.com/2019/03/04/2fpn1tgsx9_Julie_Larsen_Maher_0698_Local_People_KEN_11_30_15.jpg">
      </div>
      <div class="story__inner__thumbnail__shadow" aria-hidden="true"></div>
    </div>
  </div>
</div>